DB_HOST=db
DB_NAME=apppcr
DB_USER=appuser
DB_PASS=change_app_password

MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=apppcr
MYSQL_USER=appuser
MYSQL_PASSWORD=change_app_password

EMAIL_GLOBAL=R>xv7A=u[3WnJ{rDg;#S
API_IA=replace_with_api_key

DB_EXTERNAL_HOST=db
DB_EXTERNAL_NAME=apppcr
DB_EXTERNAL_USER=appuser
DB_EXTERNAL_PASS=change_external_db_password
ENCRYPTION_KEY=replace_with_32_plus_chars
API_SECRET_KEY=replace_with_secret_key


